:root {
  --mainBlue: #353455;
  --blue: #5A7394;
  --beige: #F3E6DC;
  --light: #B2C8CC;
  --red: #E73545;
}
body {
  font-family: "Open sans", sans-serif !important;
  background: var(--light) !important;
  color: var(--mainBlue) !important;
}
.text-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 50px;
  text-transform: capitalize;
}
.text-blue {
  color: var(--blue);
}
.text-bright {
  color: var(--red);
}

.btn-square:hover {
  background: var(--mainBlue);
  color: var(--light) !important;
}

.btn-square, .btn-square[disabled]:hover {
  background: transparent;
  text-transform: capitalize;
  font-size: .8rem !important;
  color: var(--mainBlue) !important;
  border-radius: 0 !important;
  border: .1rem solid var(--mainBlue) !important;
}

.btn-square[disabled] {
  cursor: default !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--red);
}
